@charset "utf-8";

@import "sections/kv";
@import "sections/cv";
@import "sections/special-instructor";
@import "sections/description";
@import "sections/lifeEvent";
@import "sections/instance";
@import "sections/point";
@import "sections/ownersVoice";
@import "sections/instructors";
@import "sections/about";

.fw {
    a {
        &:hover {
            opacity: 0.8;
        }
    }

    .p-fixed-button {
        display: block;
        @include width(96px);
        @include height(443px);
        @include pt(20px);
        background-color: $color_link;
        color: #fff;
        position: fixed;
        @include top(50%);
        @include right(-100px);
        z-index: 10;
        transform: translateY(-50%);
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        @include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "stretch" );
        @include fontSize(20px);
        letter-spacing: .3em;
        border-radius: 15px 0 0 15px;

        background-image: url('./../images/common/fixed_arrow.svg');
        background-repeat: no-repeat;
        background-position: center bottom 30px;
        background-size: auto;

        box-shadow: 3px 3px 2px rgba(18,18,18,.2);

        transition: right .5s ease-out;

        &.on {
            @include right(0);
        }

        @include max(s) {
            display: none;
        }
    }
}